<!--<div class="pull-right" style="margin: 10px 20px 0 0;">
	<a href="" ng-click="logout()">Logout</a>
</div>

<div class="text-center title">XtrmCoach</div>

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="dashboard.html">Dashboard</a></li>
				<li><a href="sports.html">Sports</a></li>
				<li><a href="players.html">Players</a></li>
				<li><a href="teams.html">Teams</a></li>
			</ul><br>
		</div>
	</div>
</div>
-->

<div class="container-dashboard">
	<div class="master-header-container">
		<div class="master-header">
			{{masterHeaderTitle}}
		</div>
		<div class="master-logout">
			<a href="" class="logout" ng-click="logout()">Logout</a>
		</div>
	</div>
	<div class="master-body">
		<div class="master-navigator">
			<div>
				<span ng-click="goToDashboard(); selectedOption='dashboard'" ng-class="{'selected':selectedOption=='dashboard'}" class="ionicons ion-ios-speedometer dashboard-icon"></span>
			</div>
			<div>
				<span ng-click="goToSport(); selectedOption='sport'" ng-class="{'selected':selectedOption=='sport'}" class="ionicons ion-ios-americanfootball dashboard-icon"></span>
			</div>
			<div>
				<span ng-click="goToPlayer(); selectedOption='player'" ng-class="{'selected':selectedOption=='player'}" class="ionicons ion-ios-people dashboard-icon"></span>
			</div>
		</div>
		<div class="master-content-container">
			<div class="master-content">
				<div ui-view></div>

				<div class="dashboard-loader-container" ng-show="showDashboardLoader == true">
					<span class="glyphicon glyphicon-refresh glyphicon-spin loader-icon"></span>
				</div>
			</div>
		</div>
	</div>
</div>