<div class="pull-right" style="margin: 10px 20px 0 0;">
	<a href="" ng-click="logout()">Logout</a>
</div>

<div class="text-center title">XtrmCoach</div>

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="dashboard.html">Dashboard</a></li>
				<li><a href="sports.html">Sports</a></li>
				<li><a href="players.html">Players</a></li>
				<li><a href="teams.html">Teams</a></li>
			</ul><br>
		</div>
	</div>
</div>