<div class="evaluate-container">
	<div class="evaluate-header">
		<div class="evaluate-header-content">SELECT SPORT</div>
	</div>

	<div ng-repeat="sport in sports">
		<span class="evaluate-sport-item" ng-bind="sport.name" ng-click="updateSelectedSport(sport.id)" ng-class="{'selected-item': selectedSportId == sport.id ? true : false}"></span>
	</div>

	<div class="evaluate-header">
		<div class="evaluate-header-content">SELECT PLAYER</div>
	</div>

	<div class="no-selection-message" ng-show="selectedSportId == 0">
		Please Select Sport to View Players
	</div>

	<div ng-repeat="player in players | showAssociatedPlayerForEval:selectedSportId">
		<div class="player-item">
			<img class="player-item-image" ng-src="http://localhost:65335/api/PlayerImage?fileName={{player.imageId}}" src="http://localhost:65335/api/PlayerImage?fileName={{player.imageId}}" ng-click="updateSelectedPlayer(player.id)" ng-class="{'selected-item': selectedPlayerId == player.id ? true : false}" />
			<div class="player-item-label" ng-bind="player.firstName + ' ' + player.lastName"></div>
		</div>
	</div>

	<div class="evaluate-header">
		<div class="evaluate-header-content">SELECT PERFORMANCE PARAMETER</div>
	</div>

	<div class="no-selection-message" ng-show="selectedPlayerId == 0">
		Please Select Player to View Performance Parameters
	</div>

	<div ng-repeat="evaluation in playerEvaluations">
		<div class="evaluate-item">
			<span class="evaluate-item-image" ng-bind="evaluation.perfParaName.name != 'Custom' ? evaluation.perfParaName.name : evaluation.customName" ng-click="updateSelectedEvaluationParameter(evaluation)" ng-class="{'selected-item': selectedEvaluationParameter.id == evaluation.id ? true : false}"></span>
			<div class="evaluate-item-label" ng-bind="evaluation.selectedType.id != null ? 'Evaluated' : 'Yet to Evaluate'"></div>
		</div>
	</div>

	<div ng-show="selectedEvaluationParameter != null && (selectedEvaluationParameter.selectedType.id == null || selectedEvaluationParameter.value == null)" class="evaluate-performance">
		<div class="evaluate-input">
			<input ng-if="selectedEvaluationParameter.perfParaTypes.length == 1" type="text" ng-model="selectedEvaluationParameter.value" class="form-control" placeholder="{{selectedEvaluationParameter.perfParaTypes[0].name}}" />
			<select ng-if="selectedEvaluationParameter.perfParaTypes.length > 1" class="form-control" ng-options="item.name for item in selectedEvaluationParameter.perfParaTypes" ng-model="selectedEvaluationParameter.selectedType"></select>
		</div>
		<button class="btn btn-primary btn-evaluate" ng-click="evaluate()">Submit Evaluation</button>
	</div>
</div>