<div class="text-center title">XtrmCoach</div>

<div ng-show="isSignUpSuccess" class="login-form-message text-center">
	<div class="alert alert-success text-left">
		<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Account Successfully Created!</strong> Enter details to Login.
	</div>
</div>

<div class="container">
	<div class="login-container">
		<form class="well login-form" action="/" name="home">
			<div class="form-group">
				<input type="email" class="form-control" ng-model="user.username" name="username" placeholder="User Name" required>
				<span ng-show="home.username.$touched && home.username.$error.required" class="help-block">User Name is required.</span>
				<span ng-show="home.username.$touched && home.username.$error.email" class="help-block">Invalid User Name.</span>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password" required>
				<span ng-show="home.password.$touched && home.password.$error.required" class="help-block">Password is required.</span>
			</div>
			<div class="form-group">
				<span ng-show="isInValidCredentials" class="help-block">Invalid Credentials.</span>
				<button type="button" class="btn btn-primary form-control" ng-click="login();" ng-disabled="home.username.$invalid || home.password.$invalid">Login</button>
			</div>
			<div class="form-group text-center no-bottom-margin">
				New User? <a href="" ng-click="signup()">Signup</a>
			</div>
		</form>
	</div>
</div>