<div class="player-container">
	<button class="btn btn-primary btn-player" ng-click="addNewPlayer()">Add New Player</button>
	<div ng-repeat="sport in sports" ng-init="sport.hasPlayer = false" ng-mouseenter="sport.showIcons = true" ng-mouseleave="sport.showIcons = false">
		<div class="player-sport-header">
			<div class="player-sport-header-content" ng-bind="sport.name"></div>
		</div>

		<div class="no-player-message" ng-if="!sport.hasPlayer">
			No Players are associated with this sport.
		</div>

		<div ng-repeat="player in players | showAssociatedPlayer:sport">
			<div class="player-item" ng-mouseenter="player.showIcons = true" ng-mouseleave="player.showIcons = false">
				<img class="player-item-image" ng-src="http://localhost:65335/api/PlayerImage?fileName={{player.imageId}}" src="http://localhost:65335/api/PlayerImage?fileName={{player.imageId}}" />
				<div class="player-item-label" ng-bind="player.firstName + ' ' + player.lastName"></div>

				<div ng-show="player.showIcons && sport.showIcons" class="player-item-edit-delete">
					<div class="player-item-edit-delete-buttons">
						<div class="player-item-icon">
							<span class="ionicons ion-edit" ng-click="editPlayer(player)"></span>
						</div>
						<div class="player-item-icon">
							<span class="ionicons ion-android-delete" ng-click="deletePlayer(player, $event)"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="add-edit-player-container" ng-hide="!isPlayerAddOrEditInProgress">
		<div class="add-edit-player-dialog">
			<div class="add-edit-player-header" ng-bind="currentPlayer.id == 0 ? 'Add New Player' : 'Update Player'"></div>
			<div class="add-edit-player-body">
				<div class="add-edit-player-image-section">
					<img class="add-edit-player-image" ng-src="{{currentPlayerImageSource}}" src="{{currentPlayerImageSource}}">
					<!--<input type="file" class="form-control btn btn-default add-edit-player-image-select" file-model="currentPlayer.image" />-->
					<input type="file" id="selectedFile" style="display: none;" file-model="currentPlayer.image" />
					<button class="form-control btn btn-default" onclick="document.getElementById('selectedFile').click();">Browse</button>
				</div>
				<div class="add-edit-player-details-section">
					<input type="text" class="form-control margin-bottom-1vh" placeholder="First Name" ng-model="currentPlayer.firstName" />
					<input type="text" class="form-control margin-bottom-1vh" placeholder="Last Name" ng-model="currentPlayer.lastName" />
					<input type="text" class="form-control margin-bottom-1vh " placeholder="Date of Birth (yyyy-mm-dd)" ng-model="currentPlayer.dob" />
					<div ng-dropdown-multiselect="" class="add-edit-player-details-item" options="sports" selected-model="currentPlayer.sports" extra-settings="dropDownSettings"></div>
				</div>
			</div>
			<div class="add-edit-player-footer">
				<div class="add-edit-player-footer-ok">
					<button class="form-control btn btn-default" ng-disabled="currentPlayer.firstName == '' || currentPlayer.lastName == '' || currentPlayer.dob == '' || currentPlayer.sports.length == 0" ng-click="addOrUpdatePlayer()" ng-bind="currentPlayer.id == 0 ? 'Add' : 'Update'"></button>
				</div>
				<div class="add-edit-player-footer-cancel">
					<button class="form-control btn btn-default" ng-click="cancelAddOrUpdatePlayer()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>