<!DOCTYPE html>
<html>

<head>
    <title>  Sports </title>
	<meta charset="utf-8" />
</head>
<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: cornflowerblue;
  border: none;
  border-radius: 10px;

}

.button:hover {background-color: blue}

.button:active {
  background-color: cornflowerblue;

  transform: translateY(4px);
}
</style>
</head>
<body>

   <center><h1>List of Sports</h1></center>

    <button class="button">Add a new Sport</button>
</body>
</html>
