<div class="sport-container" ng-show="!showParameters">
	<button class="btn btn-primary btn-sport" ng-click="addNewSport()">Add New Sport</button>
	<div>
		<div ng-repeat="sport in sports">
			<div ng-show="sport.isEdit" class="sport-item-container">
				<div class="sport-item-name-edit">
					<input class="form-control" type="text" placeholder="Sport Name" ng-model="sport.name" />
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-checkmark-circled" ng-click="addOrUpdateSport(sport.id)"></span>
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-close-circled" ng-click="cancelAddOrUpdate(sport.id)"></span>
				</div>
			</div>
			<div ng-show="!sport.isEdit" class="sport-item-container">
				<div class="sport-item-name" ng-bind="sport.name"></div>
				<div class="sport-item-icon">
					<span class="ionicons ion-ios-timer" data-toggle="tooltip" title="Show Performance Parameter" ng-click="getParameters(sport.id)"></span>
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-edit" ng-click="editSport(sport.id)"></span>
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-android-delete" ng-click="deleteSport(sport.id)"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sport-container" ng-show="showParameters">
	<button class="btn btn-primary btn-sport" ng-disabled="isPerfParaEditOrAddInProgress" ng-click="addNewPerfParameter()">Add New Performance Parameter</button>
	<div class="item-header">
		<div class="para-item">Name</div>
		<div class="para-item">Value Type</div>
		<div class="para-item">Custom Name</div>
	</div>
	<div>
		<div ng-repeat="perfParameter in perfParameters">
			<div class="sport-item-container" ng-show="perfParameter.isEdit">
				<div class="para-item-edit">
					<select class="form-control" ng-init="perfParameter.perfParaName = perfParaNames[perfParameter.perfParaName.id - 1]" ng-model="perfParameter.perfParaName" ng-change="fetchPerfParaTypes(perfParameter.perfParaName.id)" ng-options="perfParaName.name for perfParaName in perfParaNames"></select>
				</div>
				<div class="para-item-edit">
					<select class="form-control" ng-model="perfParameter.perfParaType" ng-options="perfParaType.name for perfParaType in perfParaTypes"></select>
				</div>
				<div class="para-item-edit">
					<input class="form-control" type="text" ng-show="perfParameter.perfParaName.id == 5" ng-model="perfParameter.customName" placeholder="Custom Name" />
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-checkmark-circled" ng-click="addOrUpdatePerfParameter(perfParameter.id)"></span>
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-close-circled" ng-click="cancelAddOrUpdateParameter(perfParameter.id)"></span>
				</div>
			</div>
			<div class="sport-item-container" ng-show="!perfParameter.isEdit">
				<div class="para-item" ng-bind="perfParameter.perfParaName.name"></div>
				<div class="para-item" ng-bind="perfParameter.perfParaType.name"></div>
				<div class="para-item">
					<div ng-bind="perfParameter.customName" ng-show="perfParameter.perfParaName.id == 5"></div>
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-edit" ng-class="{disableLink: isPerfParaEditOrAddInProgress}" ng-click="!isPerfParaEditOrAddInProgress && editPerfParameter(perfParameter.id)"></span>
				</div>
				<div class="sport-item-icon">
					<span class="ionicons ion-android-delete" ng-class="{disableLink: isPerfParaEditOrAddInProgress}" ng-click="!isPerfParaEditOrAddInProgress && deletePerfParameter(perfParameter.id)"></span>
				</div>
			</div>
		</div>
	</div>
</div>