html, body, div[ui-view=""] {
	height: 100%;
}

.app-container {
	height: 100%;
}

.dashboard-body {
	background: rgba(0, 0, 0, 0.8);
	border-color: rgba(0, 0, 0, 0.9);
}

.container-dashboard {
	padding: 0px !important;
	width: 100% !important;
	height: 100% !important;
	/*border: 1px solid black;*/
}

.master-header-container {
	/*border: 1px solid black;*/
	height: 10%;
}

.master-header {
	font-size: 6vh;
	font-family: 'Allerta Stencil', sans-serif;
	text-align: center;
	padding-top: 2vh;
	color: #EEEEEE;
}

.master-logout {
	position: absolute;
	right: 2vw;
	top: 5vh;
	font-size: 2vh;
}

.logout {
	color: rgba(238, 238, 238, 0.9);
}

	.logout:hover {
		color: rgba(238, 238, 238, 0.6);
	}

.master-body {
	/*border: 1px solid black;*/
	height: 90%;
}

.master-navigator {
	/*border: 1px solid black;*/
	height: 100%;
	width: 8%;
	float: left;
	padding-top: 15px;
	text-align: center;
}

	.master-navigator .nav {
		background: rgba(238, 238, 238, 0.9);
		border-radius: 4px;
	}

.master-content-container {
	/*border: 1px solid black;*/
	height: 100%;
	width: 92%;
	float: left;
	padding: 15px 15px 15px 0;
}

.master-content {
	width: 100%;
	height: 100%;
	background: rgba(238, 238, 238, 0.9);
	border-radius: 4px;
	padding: 15px;
}

.dashboard-icon {
	font-size: 4vw;
	margin-bottom: 4vh;
	color: rgba(238, 238, 238, 0.9);
	outline: none !important;
}

	.dashboard-icon:hover {
		color: rgba(238, 238, 238, 0.6);
		cursor: pointer;
	}

.selected {
	color: #337ab7 !important;
}

.dashboard-loader-container {
	position: absolute;
	width: calc(92% - 15px);
	height: calc(90% - 30px);
	top: calc(10% + 15px);
	font-size: 50px;
	text-align: center;
	background: rgba(0,0,0,0.3);
	left: 8%;
}

/* Analysis */
.analysis-container {
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

.btn-analyze {
	float: left;
	width: 30%;
	margin-left: 35%;
}

.analysis-high-chart-container {
	width: 100%;
	height: 95%;
	overflow: hidden;
	position: relative;
}

.analysis-chart {
	width: 100%;
	height: 100%;
	max-width: 1350px;
	max-height: 700px;
	overflow: hidden;
}

.analysis-time-range-container {
	width: 100%;
	height: 5%;
}

.btn-time-range {
	width: 20%;
	float: left;
	margin-left: 2%;
	margin-right: 3%;
}

.analyze-performance {
	width: 100%;
	float: left;
	margin-top: 1.5vw;
	text-align: center;
}